<head>
    <title>meteor-leaflet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
</head>

<body>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
</body>

<template name="main">
    {{> base_page}}
    {{> modal_forms}}

</template>

<template name="map">

    <div id="map" class="map"></div>

</template>

<template name="base_page">

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">BearTracks</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                {{#if currentUser}}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#profileform">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#friendsform">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="#" data-toggle="modal" data-target="#friendsform">
                            <i class="fa fa-bell" aria-hidden="true"></i>2
                        </a>

                    </li>
                {{/if}}
            </ul>

            <span class="navbar-text">
                {{#if currentUser}}
                    <!--<span class="badge badge-default">2</span>-->


                    Hello, {{ currentUser.profile.name }}
                    <a class="nav-item btn btn-primary btn-sm" href="/logout">Logout</a>
                {{else}}
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#registerform">Sign-up</button>
	    			<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#loginform">Login</button>
                {{/if}}
            </span>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 map-content">
                <div>
                    {{> map}}
                </div>
            </div>
        </div>
    </div>

</template>


<template name="modal_forms">

    <div class="modal fade" id="registerform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form class="register-form">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email"  class="form-control" id="email" value="">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>First Name</label>
                            <input type="text" name="" class="form-control" id="firstname" value="">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>Last Name</label>
                            <input type="text" name="" class="form-control" id="lastname" value="">
                        </div>

                        <div class="form-group col-lg-12">
                            <label>Password</label>
                            <input type="password" name="" class="form-control" id="password" value="">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="modal fade" id="loginform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form class="login-form">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email"  class="form-control" id="email" value="">
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Password</label>
                            <input type="password" name="" class="form-control" id="password" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="profileform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form class="profile-form">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Your Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email"  class="form-control" id="email" value="">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>First Name</label>
                            <input type="text" name="" class="form-control" id="firstname" value="">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>Last Name</label>
                            <input type="text" name="" class="form-control" id="lastname" value="">
                        </div>

                        <div class="form-group col-lg-12">
                            <label>Password</label>
                            <input type="password" name="" class="form-control" id="password" value="">
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Confirm</label>
                            <input type="password" name="" class="form-control" id="password" value="">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="friendsform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form class="friends-form">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Your Friends</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group col-lg-12">
                            <label>Add Friend by Email</label>
                            <input type="email"  class="form-control" id="email" value="">
                        </div>

                        <div class="form-group col-lg-12">
                            <label for="exampleSelect1">Delete One or More Friends</label>
                            <select multiple class="form-control" id="exampleSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</template>









